{% extends 'layout.html' %}

{% block title %}
- Register
{% endblock %}

{% block main %}
<p id="error">{{ error }}</p>
<form action="/register-name" method="post">
    <div class="mb-3">
        <h5>What's your name?</h5>
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="firstname" name="firstname" placeholder="David" type="text">
    </div>
    <div class="mb-3">
        <input class="form-control mx-auto w-auto" id="lastname" name="lastname" placeholder="Malan" type="text">
    </div>
    <button class="btn btn-primary" type="submit">Next</button>
</form>
{% endblock %}